*.native
*.byte
*.cmt
a.out
_build
*.install
pkg/META
.DS_Store
formatTest/customMLFiles/*.ml
formatTest/customMLFormatOutput.re
formatTest/failed_tests
formatTest/**/actual_output/
miscTests/reactjs_jsx_ppx_tests/actual*.re
miscTests/reactjs_jsx_ppx_tests/*.cm*
npm-debug.log
src/reason_parser.messages.bak
src/reason_parser_message.ml
*~
node_modules
/bspacks/*.ml
/bspacks/**/*.cm*
/bspacks/**/*.o
/bspacks/**/*.out
/bspacks/**/*.exe
/bspacks/omp/
