*.messages binary

docs/highlightJs/** binary
docs/vendor/** binary
docs/flatdoc.js binary

bspacks/bspack_source/* binary

test/formatTest/idempotentTests/assert.crlf.re text eol=crlf
test/_snapshots/formatTest_idempotentTests.8a9b97fa.0.snapshot text eol=crlf

