*.native
*.byte
*.cmt
_build
*.install
pkg/META
.DS_Store
formatTest/customMLFiles/*.ml
formatTest/customMLFormatOutput.re
formatTest/failed_tests
formatTest/**/actual_output/
miscTests/reactjs_jsx_ppx_tests/actual*.re
npm-debug.log
reason-parser/src/reason_parser.messages.bak
reason-parser/src/reason_parser_message.ml
*~
node_modules
/bspacks/*.ml
/bspacks/**/*.cm*
/bspacks/**/*.o
/bspacks/**/*.exe
/bspacks/migrate_parsetree_pp_src
/bspacks/ppx_deriving_ppx_src
/bspacks/ocaml-migrate-parsetree.1.0
