*.messages binary

docs/highlightJs/* binary
docs/highlightJs/build/demo/* binary
docs/highlightJs/demo/* binary
docs/support/* binary
docs/support/vendor/* binary
docs/theme-white/* binary
docs/flatdoc.js binary
