common_cache_key: &common_cache_key
  key: dependency-cache-{{ checksum "../ocaml-version" }}-{{ checksum ".circleci/config.yml" }}-{{ checksum "reason.opam" }}-{{ checksum "rebuild.opam" }}-{{ checksum "rtop.opam" }}

esy_cache_key: &esy_cache_key
  key: esy-cache-{{ checksum "esy.json" }}-{{ checksum "esy.lock" }}-{{ checksum ".circleci/config.yml" }}

esy_post_build_cache_key: &esy_post_build_cache_key
  key: esy-post-build-cache-{{ checksum "esy.json" }}-{{ checksum "esy.lock" }}-{{ checksum ".circleci/config.yml" }}

common_steps: &common_steps
  steps:
    - run:
        name: "Install npm"
        command: |
          curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -
          sudo apt-get install -y nodejs
          mkdir -p ~/.npm-global
          npm config set prefix $NPM_CONFIG_PREFIX
    - checkout
    - run:
        name: "Note OCAML_VERSION for cache"
        command: echo $OCAML_VERSION > ../ocaml-version
    - restore_cache:
        <<: *common_cache_key
    - run:
        name: "Initialize opam"
        command: |
          opam init --auto-setup --dot-profile=~/.bash_profile
          opam remote add ocamlorg https://opam.ocaml.org -p 0 || true
          opam remote remove default || true
    - run:
        name: "Install deps"
        command: |
          opam update
          opam install -y jbuilder
          opam install -y menhir.20170712
    - run:
        name: 'Clean'
        command: make clean-for-ci
    - run:
        name: 'opam pin'
        command: |
          opam pin add -y reason .
          opam pin add -y rtop .
    - save_cache:
        <<: *common_cache_key
        paths:
          - ~/.opam
          - ~/.npm-global
    - run:
        name: 'Test'
        command: |
          source ~/.bash_profile
          eval `opam config env`
          make test-ci
    - run:
        name: 'Check git is clean'
        command: git diff --exit-code

version: 2
jobs:
  4.02.3:
    docker:
      - image: ocaml/opam:debian-9_ocaml-4.02.3
    environment:
      - TERM: dumb
      - OCAML_VERSION: "4.02.3"
      - NPM_CONFIG_PREFIX: "~/.npm-global"
    <<: *common_steps
  4.03.0:
    docker:
      - image: ocaml/opam:debian-9_ocaml-4.03.0
    environment:
      - TERM: dumb
      - OCAML_VERSION: "4.03.0"
      - NPM_CONFIG_PREFIX: "~/.npm-global"
    <<: *common_steps
  4.04.0:
    docker:
      - image: ocaml/opam:debian-9_ocaml-4.04.0
    environment:
      - TERM: dumb
      - OCAML_VERSION: "4.04.0"
      - NPM_CONFIG_PREFIX: "~/.npm-global"
    <<: *common_steps
  4.06.0:
    docker:
      - image: ocaml/opam:debian-9_ocaml-4.06.0
    environment:
      - TERM: dumb
      - OCAML_VERSION: "4.06.0"
      - NPM_CONFIG_PREFIX: "~/.npm-global"
    <<: *common_steps
  esy_build:
    docker:
      - image: ocaml/opam:debian-9_ocaml-4.06.0
    environment:
      - TERM: dumb
      - NPM_CONFIG_PREFIX: "~/.npm-global"
    steps:
      - checkout
      - run:
          name: "Install npm"
          command: |
            curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -
            sudo apt-get install -y nodejs
            mkdir -p ~/.npm-global
            npm config set prefix $NPM_CONFIG_PREFIX
      - restore_cache:
          <<: *esy_cache_key
      - restore_cache:
          <<: *esy_post_build_cache_key
      - run:
          name: "Install esy"
          command: npm install -g esy@next
      - run:
          name: 'Clean'
          command: make clean-for-ci
      - run:
          name: 'esy install'
          command: ~/.npm-global/bin/esy install
      - save_cache:
          <<: *esy_cache_key
          paths:
            - ~/.npm-global
            - ~/.esy
      - run:
          name: 'esy build'
          command: |
            ~/.npm-global/bin/esy build
            _build/install/default/bin/refmt --version
      # Use both pre and post build caches so that we're more likely
      # to have dependencies cached. `esy build` is more likely to fail,
      # so this will make the push that fixes the build faster
      - save_cache:
          <<: *esy_post_build_cache_key
          paths:
            - ~/.esy

workflows:
  version: 2
  build-deploy:
    jobs:
      - 4.02.3
      - 4.03.0
      - 4.04.0
      - 4.06.0
      - esy_build
