'.source.reason':
  'fun':
    'prefix': 'fun'
    'body': '''
      fun ${1:function_name} ${2:args} => {
      \t${3:()};
      }
    '''
  'for':
    'prefix': 'for'
    'body': '''
      for ${1:variable} in ${2:start} to ${3:end} {
      \t$4
      }
    '''
  'if':
    'prefix': 'if'
    'body': '''
      if (${1:expression}) {
      \t$2
      }
    '''
  'let':
    'prefix': 'let'
    'body': 'let ${1:variable} = ${2:value};'
  'let function':
    'prefix': 'lf'
    'body': '''
      let ${1:function_name} ${2:args} => {
      \t${3:()};
      };$4
    '''
  'log print string':
    'prefix': 'log'
    'body': '''
      print_string(${2:});
      print_newline ();$3
    '''
  'type':
    'prefix': 'ty'
    'body': 'type ${1:typeName} = ${2:typeDefinition};'
  'while':
    'prefix': 'while'
    'body': '''
      while (${1:expression}) {
      \t$2
      }
    '''
